<%- include('../layouts/admin/header') %>
    <%- include('../layouts/admin/nav') %>
        <%- include('../layouts/admin/side-bar') %>


            <main id="main" class="main">

                <div class="pagetitle">
                    <h1>Vehicle Renewal</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                            <li class="breadcrumb-item active">Renewal</li>
                            <!-- <li class="breadcrumb-item "></li> -->
                        </ol>
                    </nav>
                </div><!-- End Page Title -->

                <section class="section dashboard">
                    <div class="row">

                        <!-- Left side columns -->
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="row">

                                <!-- Floating Labels Form -->
                                <form class="row g-3">
                                   
                                    
                                  
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="text" na class="form-control" id="floatingPassword"
                                                placeholder="Password">
                                            <label for="floatingPassword">License Plate </label>
                                        </div>
                                    </div>

                                    

                                    
                                    
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Proceed to payment</button>
                                        <!-- <button type="reset" class="btn btn-secondary">Reset</button> -->
                                    </div>
                                </form><!-- End floating Labels Form -->

                            </div>
                        </div><!-- End Left side columns -->


                    </div>
                </section>

            </main><!-- End #main -->


            <%- include('../layouts/admin/footer') %>

                <script>
                    function getMake() {
                        console.log("hello")
                        let mk = $('#make').val();
                        console.log(mk)
                        $.ajax({
                            url: '/vehicle_model?make=' + mk,
                            method: 'get',
                            success: function (req) {
                                console.log(req)
                                getModelValue(req)
                            },
                        })
                    }

                    function getModelValue(result ) {
                        if (result.length > 0) {
                            var html = "";
                            html += "<option disabled selected value> SELECT LGA</option>";
                            for (var a = 0; a < result.length; a++) {
                                html +=
                                    '<option value="' +
                                    result[a].vehicle_make +
                                    ' ">' +
                                    result[a].vehicle_model +
                                    "</option>";
                            }
                            $("#mdl").html(html);
                        } else {
                            var html = "";
                            html += "<option disabled selected value></option>";
                            $("#mdl").html(html);
                        }
                        X
                    }
                </script>