<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Registration</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/vehicle_registration">
            <i class="bi bi-circle"></i><span>Vehicle Registration</span>
          </a>
        </li>
        <li>
          <a href="/admin/vehicle_renewal">
            <i class="bi bi-circle"></i><span>Vehicle Renewal</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    


    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-gem"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="icons-boxicons.html">
            <i class="bi bi-circle"></i><span>Vehicles</span>
          </a>
        </li>
        <li>
          <a href="/_reports">
            <i class="bi bi-circle"></i><span>Payment Report</span>
          </a>
        </li>
        
      </ul>
    </li><!-- End Icons Nav -->

  </ul>

</aside><!-- End Sidebar-->